    {{> head }}
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Tony Stark</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vitae atque voluptate quibusdam adipisci blanditiis voluptates repudiandae asperiores. Perspiciatis id nesciunt quos? Praesentium veritatis necessitatibus velit laborum reiciendis aliquid. Eaque?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/Captura.JPG" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}

      